main.page-404 {
    padding: 6rem 0;
}
.page-404 .block-container {
    align-items: flex-start;
}

/* Responsive */
@media only screen and (max-width: 991px) {
  main.page-404 {
    padding: 4rem 0;
  }
}