/* .accordion {
    --bs-accordion-border-color: rgba(46, 47, 54, 0.2);
    --bs-accordion-border-width: 2px;
    --bs-accordion-btn-padding-x: 0;
    --bs-accordion-btn-padding-y: 0;
    --bs-accordion-btn-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 14' fill='none' stroke='%23612D60' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M24.6274 1.65625L13.3137 11.3428L2 1.65625'/%3e%3c/svg%3e");
    --bs-accordion-btn-icon-width: 1.414rem;
    --bs-accordion-btn-active-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 14' fill='none' stroke='%23612D60' stroke-width='3' stroke-linecap='round' stroke-linejoin='round'%3e%3cpath d='M24.6274 1.65625L13.3137 11.3428L2 1.65625'/%3e%3c/svg%3e");
    --bs-accordion-body-padding-x: 0;
    --bs-accordion-body-padding-y: 0.563rem;
    --bs-accordion-active-color: var(--bs-body-color);
    --bs-accordion-active-bg: transparent;
}
.accordion-flush>.accordion-item {
    border: none;
    margin-bottom: 1.333rem;
}
.accordion-button:focus {
    box-shadow: none;
}
.accordion-button:not(.collapsed) {
    box-shadow: none;
}
.accordion-button {
    font-family: var(--font-family-primary);
    font-weight: var(--font-weight-bold);
    line-height: 1.389rem;
    padding-bottom: 0.563rem;
}
.accordion-flush .accordion-button {
    border-bottom: var(--bs-accordion-border-width) solid var(--bs-accordion-border-color);
}
.accordion-button::after {
    margin-left: 0.813rem;
    background-position: center;
}
.accordion-body {
    padding-bottom: 0;
} */