.primary-bg {
    background: var(--text-color);
    color: var(--text-box);
}
.primary-bg * {
    color: var(--text-box);
}

.secondary-bg {
    background: var(--text-box);
    color: var(--text-color);
}
.secondary-bg * {
    color: var(--text-color);
}

.gray-bg {
    background: var(--bg-box);
}

.blue-bg {
    background: #004578;
}
.gray2-bg {
    background: var(--color-gray);
}
.orange-bg {
    background: #E65E24;
}
.green-bg {
    background: #9DC121;
}

.gradient-bg {
    background: linear-gradient(180deg, var(--bg-gradient) 0%, var(--text-color) 100%);
}