.primary-bg {
    background: var(--text-color);
    color: var(--text-box);
}
.primary-bg * {
    color: var(--text-box);
}

.secondary-bg {
    background: var(--text-box);
    color: var(--text-color);
}
.secondary-bg * {
    color: var(--text-color);
}