h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-weight: var(--font-weight-regular);
    color: var(--text-color);
    letter-spacing: 0.008rem;
}
h1, .h1 {
    font-size: var(--font-size-h1);
    line-height: var(--line-height-h1);
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: -0.023rem;
}
h2, .h2 {
    font-size: var(--font-size-h2);
    line-height: var(--line-height-h2);
    letter-spacing: -0.016rem;
}
h3, .h3 {
    font-size: var(--font-size-h3);
    line-height: var(--line-height-h3);
    letter-spacing: 0;
}
h4, .h4 {
    font-size: var(--font-size-h4);
    line-height: var(--line-height-h4);
}
h5, .h5 {
    font-size: var(--font-size-h5);
    line-height: var(--line-height-h5);
    font-weight: var(--font-weight-semi-bold);
}
h6, .h6 {
    font-size: var(--font-size-h6);
    line-height: var(--line-height-h6);
}

/* Responsive */
@media only screen and (max-width: 991px) {
    h1, .h1 {
        font-size: var(--font-size-h1-mobile);
        line-height: var(--line-height-h1-mobile);
        letter-spacing: -0.016rem;
    }
    h2, .h2 {
        font-size: var(--font-size-h2-mobile);
        line-height: var(--line-height-h2-mobile);
        letter-spacing: 0;
    }
    h3, .h3 {
        font-size: var(--font-size-h3-mobile);
        line-height: var(--line-height-h3-mobile);
    }
    h4, .h4 {
        font-size: var(--font-size-h4-mobile);
        line-height: var(--line-height-h4-mobile);
    }
    h5, .h5 {
        font-size: var(--font-size-h5-mobile);
        line-height: var(--line-height-h5-mobile);
    }
    h6, .h6 {
        font-size: var(--font-size-h6-mobile);
        line-height: var(--line-height-h6-mobile);
    }
}