.block-product-details-table {
    background: var(--bg-box);
    padding: 8rem 0;
}
.block-product-details-table table {
    --bs-table-color: var(--text-color);
    --bs-table-bg: transparent;
    --bs-table-border-color: var(--text-color);
}
.block-product-details-table .table>:not(caption)>*>* {
    padding: 0.625rem;
}
.block-product-details-table .table-bordered>:not(caption)>*>* {
    border-width: 2px;
}
.block-product-details-table .table-bordered th {
    font-weight: 600;
}
.block-product-details-table ul {
    margin-bottom: 0;
}

.product-properties-label {
    margin-bottom: 0.75rem;
}
.product-properties-label span {
    position: relative;
}
.product-properties-label span:not(:last-child):after {
    content: ', ';
}

/* Responsive */
@media only screen and (max-width: 1440px) {
  .block-product-details-table {
    padding: 6rem 0;
  }
}

@media only screen and (max-width: 991px) {
  .block-product-details-table {
    padding: 4rem 0;
  }
}

@media only screen and (max-width: 767px) {
  .block-product-details-table table {
      font-size: inherit;
      line-height: inherit;
  }
  .block-product-details-table .table>:not(caption)>*>* {
      padding: 0.313rem;
  }
  .product-single .block-product-details-table .product-properties {
      gap: 0;
      transform: rotate(-90deg) rotateY(180deg) scale(0.47);
  }
}