.block-post-teaser-list {
  padding: 8rem 0;
}
.post-teaser-container .post-teaser {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
}
.post-teaser-container .post-teaser img {
  height: 23.667rem;
  width: 100%;
  object-fit: cover;
}
.post-teaser-container .post-teaser .post-teaser-content {
    padding: 2rem;
}
.post-teaser-container .post-teaser .post-teaser-content .post-meta {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    margin-bottom: 1.5rem;
}
.post-teaser-container .post-teaser .post-teaser-content .title {
    font-weight: var(--font-weight-semi-bold);
    height: 4.375rem;
    margin-bottom: 1rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
}
.post-teaser-container .post-teaser .post-teaser-content .icon {
    margin-left: auto;
    transition: margin 0.3s ease;
}
.post-teaser-container .post-teaser:hover .icon {
    margin-right: -0.5rem;
}
.post-teaser-container .post-teaser .post-link {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    font-size: 0;
}

/* Responsive */
@media only screen and (max-width: 1440px) {
    .block-post-teaser-list {
        padding: 6rem 0;
    }
}

@media only screen and (max-width: 1024px) {
    .block-post-teaser-list {
        padding: 3rem 0;
    }
}

@media only screen and (max-width: 991px) {
    .post-teaser-container .post-teaser {
        margin-bottom: 2rem;
    }
    .post-teaser-container .post-teaser img {
        height: 24.75rem;
    }
    .post-teaser-container .post-teaser .post-teaser-content .title {
        margin-bottom: calc(1rem + 1.25rem);
    }
    .block-post-teaser-list .btn {
        margin-top: 2rem;
    }
}