.block-text-image {
    position: relative;
    padding: 6rem 0;
    display: flex;
    align-items: stretch;
    gap: 2rem;
    overflow: hidden;
}
@media only screen and (min-width: 576px) {
	.block-text-image {
        --containerImg: 540px + 3rem;
    }
}
@media only screen and (min-width: 768px) {
	.block-text-image {
        --containerImg: 720px + 3rem;
    }
}
@media only screen and (min-width: 992px) {
	.block-text-image {
        --containerImg: 960px + 2rem;
    }
}
@media only screen and (min-width: 1200px) {
	.block-text-image {
        --containerImg: 1140px + 2rem;
    }
}
@media only screen and (min-width: 1400px) {
    .block-text-image {
        --containerImg: 1200px - 1rem;
    }
}
.block-text-image .text-image-row {
    display: flex;
    align-items: center;
    flex: 0 0 auto;
    width: 50%;
    padding-left: calc((100vw - var(--containerImg)) / 2);
    padding-right: 0;
}
.block-text-image .image {
    flex: 0 0 auto;
    width: 50%;
}
.block-text-image .image img {
    height: 100%;
    object-fit: cover;
    object-position: left top;
}

/* image_left */
.block-text-image.image_left {
    padding: 4rem 0;
    flex-direction: row-reverse;
}
.block-text-image.image_left .text-image-row {
    padding-left: 0;
    padding-right: calc((100vw - var(--containerImg) - 1rem) / 2);
}
.block-text-image.image_left .image img {
    object-position: right top;
}

/* Responsive */
@media only screen and (max-width: 1199px) {
    .block-text-image {
        padding: 4rem 0;
    }
}

@media only screen and (max-width: 991px) {
    .block-text-image {
        flex-direction: column !important;
        gap: 3rem;
    }
    .block-text-image,
    .block-text-image.image_left {
        padding: 3rem 0 0;
    }
    .block-text-image .header-wrapper {
        gap: 2rem;
    }
    .block-text-image .text-image-row,
    .block-text-image.image_left .text-image-row {
        width: 100%;
        padding-left: calc((100vw - var(--containerImg)) / 2);
        padding-right: calc((100vw - var(--containerImg)) / 2);
    }
    .block-text-image .image {
        width: 100%;
        text-align: center;
    }
    .block-text-image .image img {
        object-position: center;
        max-height: 20.313rem;
    }
}

@media only screen and (max-width: 575px) {
    .block-text-image .text-image-row,
    .block-text-image.image_left .text-image-row {
        padding-left: 1rem;
        padding-right: 1rem;
    }
    .block-text-image .image {
        text-align: right;
    }
    .block-text-image.image_left .image {
        text-align: left;
    }
}