.block-visual-images {
    position: relative;
    overflow: hidden;
}
.block-visual-images img {
    width: 100%;
    height: 39.75rem;
    object-fit: cover;
    border-radius: 5px;
}
.block-visual-images .one-image img {
    height: 42.5rem;
    border-radius: 0;
}

/* Responsive */
@media only screen and (max-width: 1440px) {
    .block-visual-images img {
        height: 29rem;
    }
    .block-visual-images .one-image img {
        height: 32rem;
    }
}

@media only screen and (max-width: 1199px) {
    .block-visual-images img {
        height: 20rem;
    }
    .block-visual-images .one-image img {
        height: 22rem;
    }
}

@media only screen and (max-width: 767px) {
    .block-visual-images img,
    .block-visual-images .one-image img {
        height: 13.589rem;
        border-radius: 0;
    }
    .block-visual-images .col-md-4 img {
        display: none;
    }
}