html {
    font-size: 100%;
}

html:not([data-theme]) {
  visibility: hidden;
}

body {
    position: relative;
    overflow-x: hidden;
    
    font-size: var(--base-font-size);
}
@media only screen and (max-width: 992px) {
    body {
        font-size: var(--base-font-size-mobile);
    }
}


body figure {
    margin: 0;
}
body figure img, body img {
    max-width: 100%;
    width: auto;
    height: auto;
}

:focus-visible {
    outline: none;
}


/* WPML */
.otgs-development-site-front-end {
    display: none;
}