footer {
    color: var(--color-white);
    background: var(--color-primary);
    font-size: var(--font-size-textFtr);
    line-height: var(--line-height-textFtr);
    letter-spacing: 0.008rem;
    padding: 2rem 0;
    margin-top: 3rem;
}

footer .widget p:last-child {
    margin-bottom: 0;
}

footer a {
    text-decoration: none;
}

footer .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0.5rem;
}

.footer-social-networks {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.footer-social-networks svg {
    width: 1.5rem;
    height: auto;
}

footer .menu {
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
    font-size: var(--font-size-navFtr);
    line-height: var(--line-height-navFtr);
    gap: 1rem;
}

.backtotop {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--text-color);
    color: var(--text-box);
    width: 3.25rem;
    height: 3.25rem;
    display: flex;
    z-index: 1;
    align-items: center;
    justify-content: center;
    transition: all 300ms ease-out;
    cursor: pointer;
    border-radius: 50%;
    border: 2px solid var(--text-box);
}

/* Responsive */
@media only screen and (max-width: 1440px) {
  .backtotop {
    bottom: 0.75rem;
    right: 0.75rem;
  }
}

@media only screen and (max-width: 991px) {
    footer {
        padding: 1.5rem 0;
    }

    footer .menu {
        gap: 1rem;
    }
    .backtotop {
        bottom: 1rem;
        right: 1rem;
    }
}