header {
    position: sticky;
    top: 0;
    padding: 1rem 0 1.375rem;
    transition: top 0.3s;
    z-index: 100;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 4px 0px #0000000F;
}
/* Dark Mode */
[data-theme="dark"] header {
    box-shadow: 0px 2px 4px 0px #0000003D;
}
header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.75rem;
}


header .site-logo img.logo {
    display: none;
}
header .site-logo img {
    height: 4.443rem;
    width: auto;
}
/* Light Mode */
[data-theme="light"] header .site-logo img.logo.logo-light {
  display: inline;
}
[data-theme="light"] header .site-logo img.logo.logo-dark {
  display: none;
}
/* Dark Mode */
[data-theme="dark"] header .site-logo img.logo.logo-dark {
  display: inline;
}
[data-theme="dark"] header .site-logo img.logo.logo-light {
  display: none;
}


header .top-header {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 2rem;
    margin-bottom: 0.938rem;
}
header .language-switcher .nav {
    gap: 0.813rem;
    text-transform: uppercase;
}
header .language-switcher .nav .nav-item:not(:last-child) {
    position: relative;
}
header .language-switcher .nav .nav-item:not(:last-child):after {
    content: 'I';
    position: absolute;
    top: 0;
    right: -0.563rem;
    bottom: 0;
}

header #theme-toggle {
    background-color: transparent;
    border: none;
    outline: none;
    color: inherit;
    padding: 0;
}




.menu-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--bs-black);
    z-index: 95;
    opacity: 0;
    visibility: hidden;
    transition: all 150ms ease-in, all 150ms ease-out;
}
body.open-menu .menu-overlay {
    opacity: 0.2;
    visibility: visible;
}

/* Responsive */
@media only screen and (max-width: 991px) {
    header {
        padding: 1.375rem 0;
    }
    header .site-logo img {
        height: 2.25rem;
    }
    header .main-header {
        gap: 1rem;
    }
}

@media only screen and (max-width: 767px) {
    header .container {
        padding: 0 0.5rem;
    }
}