header {
    position: sticky;
    top: 0;
    padding: 1rem 0 1.25rem;
    transition: top 0.3s;
    z-index: 100;
    background-color: var(--bg-color);
    box-shadow: 0px 2px 4px 0px #0000000F;
}

header .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.75rem;
}


header .site-logo img {
    height: 3rem;
    width: auto;
}

.header-actions-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.profile-icon{
    display: inline-block;
}

.custom-button img{
    width: 2rem;
}

/* Responsive */
@media only screen and (max-width: 1199px) {
    header {
        padding: 1.5rem 0;
        box-shadow: none;
    }
    header .site-logo img {
        height: 2.5rem;
    }
    header .nav-container {
        display: flex;
        gap: 1.5rem;
        justify-content: flex-end;
    }
    header .top-header {
        gap: 1.5rem;
        margin-bottom: 0;
        flex-direction: row-reverse;
    }
    header .top-header .meta-menu {
        display: none;
    }
    header #theme-toggle {
        font-size: 0;
        width: 2rem;
        height: 2rem;
        padding: 0 !important;
        background-position: center;
        background-size: 2rem;
    }
}

@media only screen and (max-width: 767px) {
    /* On open Main */
    header.open #theme-toggle,
    header.open .language-switcher {
        opacity: 1;
    }
}