/********** Variables bootstrap **********/
.nav {
    --bs-nav-link-color: var(--text-color);
    --bs-nav-link-hover-color: var(--text-color);
    gap: 2rem;
}
.nav .current-menu-item .nav-link {
    color: var(--bs-nav-link-hover-color);
}

.nav-link {
    font-size: var(--font-size-base);
    line-height: var(--line-height-base);
    font-weight: var(--font-weight-regular);
    letter-spacing: 0.008rem;
    padding: 0;
}

.navbar {
    --bs-navbar-color: var(--text-color);
    --bs-navbar-hover-color: var(--text-color);
    --bs-navbar-active-color: var(--text-color);

    --bs-navbar-toggler-font-size: 2rem;
    --bs-navbar-toggler-icon-bg: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 2.13334V4.26667L0 4.26667L1.86505e-07 2.13333L32 2.13334Z" fill="%23182748"/><path d="M21.3333 14.9333V17.0667L0 17.0667L1.86505e-07 14.9333L21.3333 14.9333Z" fill="%23182748"/><path d="M32 27.7333V29.8667L0 29.8667L1.86505e-07 27.7333L32 27.7333Z" fill="%23182748"/></svg>');

    padding: 0;
}
[data-theme="dark"] .navbar {
    --bs-navbar-toggler-icon-bg: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M32 2.13282V4.26615L0 4.26615L1.86505e-07 2.13281L32 2.13282Z" fill="white"/><path d="M21.3333 14.9328V17.0661L0 17.0661L1.86505e-07 14.9328L21.3333 14.9328Z" fill="white"/><path d="M32 27.7328V29.8661L0 29.8661L1.86505e-07 27.7328L32 27.7328Z" fill="white"/></svg>');
}
.navbar-toggler {
    padding: 0;
    font-size: var(--bs-navbar-toggler-font-size);
    border: none;
    border-radius: 0;
    width: var(--bs-navbar-toggler-font-size);
    height: var(--bs-navbar-toggler-font-size);
}
.navbar-toggler-icon {
    width: var(--bs-navbar-toggler-font-size);
    height: var(--bs-navbar-toggler-font-size);
}
header.open .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.7383 6L15.3676 16.0035L24.7318 26H25.9935L16.6293 16.0035L26 6L24.7383 6Z" fill="%23182748"/><path d="M7.26168 6L16.6324 16.0035L7.26818 26H6.0065L15.3707 16.0035L6 6L7.26168 6Z" fill="%23182748"/><path d="M24.7383 6L15.3676 16.0035L24.7318 26H25.9935L16.6293 16.0035L26 6L24.7383 6Z" stroke="%23182748" stroke-width="0.6"/><path d="M7.26168 6L16.6324 16.0035L7.26818 26H6.0065L15.3707 16.0035L6 6L7.26168 6Z" stroke="%23182748" stroke-width="0.6"/></svg>');
}
[data-theme="dark"] header.open .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M24.7383 6L15.3676 16.0035L24.7318 26H25.9935L16.6293 16.0035L26 6L24.7383 6Z" fill="white"/><path d="M7.26168 6L16.6324 16.0035L7.26818 26H6.0065L15.3707 16.0035L6 6L7.26168 6Z" fill="white"/><path d="M24.7383 6L15.3676 16.0035L24.7318 26H25.9935L16.6293 16.0035L26 6L24.7383 6Z" stroke="white" stroke-width="0.6"/><path d="M7.26168 6L16.6324 16.0035L7.26818 26H6.0065L15.3707 16.0035L6 6L7.26168 6Z" stroke="white" stroke-width="0.6"/></svg>');
}
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-nav {
    --bs-nav-link-hover-color: var(--bs-navbar-color);
    gap: 2.75rem;
    margin-right: 1rem;
}
.navbar-nav .nav-link {
    position: relative;
    font-size: var(--bs-nav-link-font-size);
    line-height: var(--line-height-nav);
    font-weight: var(--font-weight-semi-bold);
    letter-spacing: 0.008rem;
    padding: 0 0 0.625rem !important;
    cursor: pointer;
}

/* Hover effect */
/* .underline .navbar-nav li.slippery {
    border-bottom-color: var(--text-color) !important;
    height: 2.813rem !important;
    opacity: 0.5;
}
.navbar-nav .nav-link:after {
    content: '';
    position: absolute;
    background: var(--text-color);
    height: 2px;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
}
.navbar-nav .current-menu-item .nav-link:after,
.navbar-nav .current-menu-parent .nav-link:after,
.navbar-nav .selected-menu-item .nav-link:after {
    opacity: 1;
}

.nav-link:focus-visible {

    box-shadow: none;
} */


/************* Mega menu **************/
/* Show dropdown on hover for large screens */
@media (min-width: 992px) {

    .navbar .dropdown-menu {
    opacity: 0;
    visibility: hidden;
    transition: all 0.4s ease;
    padding: 0.5rem 0 0 1rem;
  }

  .navbar .dropdown:hover .dropdown-menu {
    opacity: 1;
    visibility: visible;
    display: block;
  }

}


/* Responsive */
@media only screen and (max-width: 1199px) {
    .navbar-nav {
        gap: 0;
        margin-right: 0;
    }
    .navbar-nav .nav-link {
        font-weight: var(--font-weight-regular);
        padding: 0.906rem 0 !important;
        display: inline-block;
        transition: none;
    }
    .bottom-header-mobile .nav {
        flex-direction: column;
        gap: 1.5rem;
    }
}