.prefooter {
    background: var(--bg-box);
    padding: 8rem 0 0;
}

.prefooter .contact_person-container {
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}
#contact-filter #country-filter {
    display: none;
}
.contact_person-container #contact-results-message {
    font-weight: var(--font-weight-semi-bold);
    display: none;
}
.contact_person-container .contact_persons {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2rem;
    row-gap: 3rem;
    display: none;
}
.contact_person-container .contact_persons .contact-person {
    flex: 0 0 auto;
    width: calc(33.33333333% - 2rem);
    border-left: 2px solid var(--text-color);
    padding-left: 1.375rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}
.contact_person-container .contact_persons .contact-person .gap-8 {
    gap: 0.5rem;
    display: flex;
    flex-direction: column;
}
.contact_person-container .contact_persons .contact-person a {
    text-decoration: none;
}


.prefooter .contact-form-container {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    margin-top: 4rem;
}
.prefooter .image {
    position: relative;
    max-height: 61.125rem;
    overflow: hidden;
}
.prefooter .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left top;

    position: relative;
    padding-left: calc((100vw - var(--containerImage)) / 2);
}
@media only screen and (min-width: 576px) {
	.prefooter .image {
        --containerImage: 540px;
    }
}
@media only screen and (min-width: 768px) {
	.prefooter .image {
        --containerImage: 720px;
    }
}
@media only screen and (min-width: 992px) {
	.prefooter .image {
        --containerImage: 960px;
    }
}
@media only screen and (min-width: 1200px) {
	.prefooter .image {
        --containerImage: 1140px;
    }
}
@media only screen and (min-width: 1400px) {
    .prefooter .image {
        --containerImage: 1200px;
    }
}

/* Responsive */
@media only screen and (max-width: 1440px) {
    .prefooter {
        padding: 6rem 0 0;
    }
    .prefooter .image {
        max-height: 56.125rem;
    }
}

@media only screen and (max-width: 1199px) {
    .prefooter {
        padding: 4rem 0 0;
    }
    .prefooter .image {
        max-height: 58.125rem;
    }
}

@media only screen and (max-width: 991px) {
    .prefooter {
        padding: 3rem 0 0;
    }
    .prefooter .contact_person-container {
        margin-top: 2rem;
    }
    .prefooter .contact_person-container {
        gap: 2rem;
    }
    .contact_person-container .contact_persons {
        row-gap: 2rem;
    }
    .contact_person-container .contact_persons .contact-person {
        width: 100%;
    }
    .prefooter .contact-form-container {
        margin-top: 2rem;
    }
    .prefooter .image {
        max-height: 19.375rem;
        margin-top: 3rem;
    }
}